<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ulsee.thermalapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /><!-- scan wifi -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- scan wifi -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- scan wifi -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> <!-- change wifi -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/> <!-- change wifi for Android 10 -->
    <!-- qrcode -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:resizeableActivity="false"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.launch.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.device.StarterActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".ui.device.IPCListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".ui.device.HotspotActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".ui.device.ScanActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".ui.device.CalibrationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".ui.device.SettingsActivity"
            android:theme="@style/AppMaterialTheme"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".ui.device.StreamingActivity"
            android:theme="@style/AppMaterialTheme"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".ui.people.EditorActivity"
            android:theme="@style/PeopleEditTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity"></activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>

        <activity
            android:name=".ui.network.WIFIListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".ui.network.SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
<!--        <activity-->
<!--            android:name=".ui.tutorial.TutorialStep1Activity"-->
<!--            android:screenOrientation="portrait"-->
<!--            tools:ignore="LockedOrientationActivity"></activity>-->
<!--        <activity-->
<!--            android:name=".ui.tutorial.TutorialStep2Activity"-->
<!--            android:screenOrientation="portrait"-->
<!--            tools:ignore="LockedOrientationActivity"></activity>-->
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".ui.notification.RecordFilterActivity"
            android:theme="@style/PeopleEditTheme"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>

        <!-- zxing qrcode -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            tools:replace="screenOrientation"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>